

#nav{
  background-color:rgb(20,28,89);
}
.nav-link{
  color:white;
}
.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  background: #fff;
        /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  width: "auto";
  height:max-content;
}

.swiper-pagination{
  color:black;
  background-color:white;
}

