#text{
  color:green;
  background-color:Black
}
html,
body {
    position: relative;
    height: 100%;
    width:100%;
}

body {
  margin: 0;
  padding: 0
}

.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  background: #fff;
        /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction:row
}

.swiper-slide {
  width: auto;
  height:max-content;
}

.swiper-pagination{
  color:Black;
  background-color:white;
}
